html {
    font-size: 62.5%; /* Ré-équilibrage du Rem face au Pixel pour des calculs simples
                        -10px correspond à 1.0rem.*/
}

body{
    background-image: url(../img/fond/fond_5.jpg);
    background-repeat: no-repeat;
    margin:0 ;
    font-family: 'Lemoneign Regular', arial;
}

/*font*/
@font-face {
  font-family: 'Lemoneign Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Lemoneign Regular'), url('Lemoneign-Regular.woff') format('woff');
  }
  
img{
  width: 100%;
  height: auto;
}

nav.menu {
  font-size:3rem;
  background: rgba(255, 0, 0,0.5);
  height: 5rem;

}

 h1{
  color:white;
  background: rgba(255, 0, 0,0.5);
  text-align: center;
  width: 100%;
  font-size: 3rem;

}

ul a{
  text-decoration: none;
}

  a{
    color:white;
    text-decoration: none;
    font-size: 3rem;
    margin-left: 2.5rem;
  }

  p{
    color:red;
    background-color: white;
    font-size: 20px;
  }


  .delete{
    color:red;
    font-size:15px;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    margin-right: 15px;
  }

  .edit{
    color:green;
    font-size:15px;
    border-radius: 15px;
    padding: 10px;
    width: 150px;
    margin-right: 15px;
    margin-top: 15px;
  }

  .return{
   color:yellow;
    font-size:15px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 20px;
    background-color: red;
  }

  .add{
    color:yellow;
    font-size:15px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 20px;
    background-color: red;


  }

  .valider{
    color:yellow;
    font-size:15px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 20px;
    background-color: red;
    text-align: center;
    margin-top: 2rem;

  }
  a.valider{
     margin: 0;
  }